{% extends 'base.html' %}
{% load staticfiles %}
{% load mathtag %}

{% block header %}
<style type="text/css">
#padding-top {
    padding-top: 20px;
}
.thumbnail {
    border: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2%;
}
.thumbnail p {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.video_image {
    max-width:100%;
}

.col-6 {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 3px;
}
table {
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    table-layout: fixed;
}
td {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

</style>
<link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- <link href="/static/index.css" rel="stylesheet" type="text/css"/> -->
{% endblock %}

{% block content %}
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<!--script src="{% static 'jquery/jquery.unveil.js' %}"></script-->
<div class="alert-messages" id="message-drawer" style="opacity: 0; top: 60px; display: none;">
 <div class="message ">
   <div class="message-inside">
     <span class="message-text"></span>
     <a class="dismiss" href="#" style="display: none;">×</a>
   </div>
 </div>
</div>
<div id='padding-top'></div>
{% comment %}
<div class='row'>
<div class="container subject-header-container clearfix">
        <div class="subject-header">
            <!--div class="subject-header-icon col-md-3 hidden-xs hidden-sm">
                <img src="{% static 'images/small/efk_icon_healthskills_140x140.png' %}">
            </div-->
            <div class="col-sm-12 col-md-12 subject-header-description">
                <h1>LIVE portal -- 你要看的直播都在这里</h1>
                <p>敬请期待定制主页</p>
                <!--<p>支持我们对电子课程的开发 —— 向我们<abbr title='暂时不支持此功能'>捐献</a></p>-->
                <a title="返回" href="/">返回首页</a>
            </div>
        </div>
</div>
</div>
<br/>
<br/>
<!-- Cycle through entries -->
<!--  <div class="page-header">
      <h2>{{tag}}</h2>
  </div> -->
{% endcomment %}

  {% for room in p_rooms.object_list|dictsortreversed:"audience_count" %}
  <div class="col-6 col-xs-6 col-sm-6 col-lg-3">
      <a class="thumbnail" style="width:100%;cursor:pointer" title="进入直播间" target="_blank" href="{{room.platform_prefix_url}}{{room.url}}" onclick="EnterRoom(this, '{{room.platform_anchor}}')">
      {% with 'images/video_snapshots/'|add:room.video_img_local_path as image_static %}
          <img class="video_image" src="{% static 'LIVE.png' %}" data-src="{% static image_static %}" onload="/*OnImageLoad(event);*/">
          <noscript>
              <img class="video_image" src="{% static image_static %}">
          </noscript>
      {% endwith %}
      <p style="width:98%;position: absolute; top: 1%; left: 1.2%; font-weight: bold; font-size:88%; color: #fff; background-color: black;opacity: 0.8;">
          {% if room.room_name %}
              {{room.room_name}}
          {% else %}
              并没有房间名。。。
          {% endif %}
      </p>
      {% comment %}
      <p style="width:6%;position: absolute; top: 1%; right: 1%; font-weight: bold; font-size:88%; color: #fff; background-color: black;opacity: 0.9;">
          {% if user.is_authenticated %}
              <label href="#" title="加关注">&nbsp<i class="fa fa-plus"></i></label>
          {% else %}
              <label href="{% url 'auth' %}">&nbsp<i class="fa fa-plus"></i></label>
          {% endif %}
      </p>
      {% endcomment %}
      <p style="padding-top:5px;">
          <table style="font-size:80%" width="100%" cellpadding="1px" cellspacing="0">
              <tr width="100%">
                  <td align="left" width="70%">
                      <b><font>
                          {{room.anchor}}
                      </font></b>
                  </td>
                  <td align="right" width="30%">
                      <font color="black">
                          {{room.tag}}
                      </font>
                  </td>
              </tr>
          </table>
      </p>
      {% comment %}
      <div>{% include 'crike_django/lesson_result.html' %}</div>
      {% endcomment %}
      {% if room.audience_count >= 10000 %}
          {% with room.audience_count|mod:10000|div:1000 as remain %}
          {% if remain == 0 %}
          <p style="color:#555;font-size:80%;padding-top:-5px;padding-left:2px;padding-right:2px">{{room.platform}}<label style="float:right"> 人气：{{room.audience_count|div:10000}}万<label></p>
          {% else %}
          <p style="color:#555;font-size:80%;padding-top:-5px;padding-left:2px;padding-right:2px">{{room.platform}}<label style="float:right"> 人气：{{room.audience_count|div:10000}}.{{remain}}万<label></p>
          {% endif %}
          {% endwith %}
      {% else %}
          <p style="color:#555;font-size:80%;padding-top:-5px;padding-left:2px;padding-right:2px">{{room.platform}}<label style="float:right"> 人气：{{room.audience_count}}<label></p>
      {% endif %}
    </a>
  </div>
  {% if forloop.counter|divisibleby:4 %}<div class="clearfix visible-xs-block"></div>{% endif %}
  {% endfor %}
  <div class="clearfix visible-xs-block"></div>

  {% if p_rooms.has_previous or p_rooms.has_next %}
      <ul class='pagination pagination-sm'>
        {% if p_rooms.has_previous %}
            <li id='pagination_arrow_{{ p_rooms.previous_page_number }}'><a href='/show/{{tag}}/?page={{ p_rooms.previous_page_number }}'>&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for num in p_rooms.paginator.page_range %}
            {% ifequal num p_rooms.number %}
                <li><span class="active"><b>{{ num }}</b></span></li>
            {% else %}
                <li id='pagination_{{num}}'><a href="/show/{{tag}}/?page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if p_rooms.has_next %}
            <li id='pagination_arrow_{{ p_rooms.next_page_number }}'><a href="/show/{{tag}}/?page={{ p_rooms.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
  {% endif %}


  <span id="dummy"></span>
{% endblock %}

{% block body_footer_end %}
<script type="text/javascript">

  $(document).ready(function() {

    $("img").unveil(2048, function() {
        console.log("debug: point 1.0");
        $(this).load(function() {
            console.log("debug: point 1.x");
            var tw = $(this).parent().width();
            $(this).width(tw);
            $(this).height(tw*0.5625);
        });
    });
    console.log("debug: point 2");
    // $("img").trigger("unveil");
  });

  function OnImageLoad(evt) {

    var img = evt.currentTarget;

    // what's the size of this image and it's parent
    var tw = $(img).parent().width();

    $(img).width(tw);
    $(img).height(tw*0.5625);
    //console.log("tw:"+tw+"th:"+th+"w:"+w+"h:"+h+"src:"+img.src);
    //$(img).css("padding-bottom", 9/16*tw-img.height);
  }

  //solve the csrf token issue
  function getCookie(name)
  {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?

              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

function popup_message(text)
{
    $('#message-drawer .message-text').text(text);
    $('#message-drawer').show();
    $('#message-drawer').fadeTo("fast", 1.0);
    $('#message-drawer').fadeTo(3000, 0, function(){
        $(this).hide();
    });
};

function EnterRoom(me, anchor)
{
    $.get('/ajax/enter_room/'+anchor);
}
</script>
{% endblock %}
